<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpeakerSelector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SpeakerSelector.Properties.Settings>
            <setting name="save_ch1ang" serializeAs="String">
                <value>0 °</value>
            </setting>
            <setting name="save_ch2ang" serializeAs="String">
                <value>45 °</value>
            </setting>
            <setting name="save_ch3ang" serializeAs="String">
                <value>90 °</value>
            </setting>
            <setting name="save_ch4ang" serializeAs="String">
                <value>135 °</value>
            </setting>
            <setting name="save_ch5ang" serializeAs="String">
                <value>180 °</value>
            </setting>
            <setting name="save_ch6ang" serializeAs="String">
                <value>225 °</value>
            </setting>
            <setting name="save_ch7ang" serializeAs="String">
                <value>270 °</value>
            </setting>
            <setting name="save_ch8ang" serializeAs="String">
                <value>315 °</value>
            </setting>
            <setting name="save_rb_8chsel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="save_cb_chairdeg" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="save_cb_SerialPort" serializeAs="String">
                <value>COM20</value>
            </setting>
        </SpeakerSelector.Properties.Settings>
    </userSettings>
</configuration>